@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FEE2E2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF4444;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100% !important;
}

.swiper-wrapper {
  align-items: center !important;
  min-height: 80px;
  max-height: 80px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.shine-anim {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.shine-anim-2 {
  background: linear-gradient(110deg, #EF4444 8%, #FEE2E2 18%, #EF4444 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}