@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FEE2E2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF4444;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100% !important;
}

.swiper-wrapper {
  align-items: center !important;
  min-height: 80px;
  max-height: 80px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.shine-anim {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.shine-anim-2 {
  background: linear-gradient(110deg, #EF4444 8%, #FEE2E2 18%, #EF4444 33%);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.single-post h1 {
  @apply lg:text-5xl md:text-4xl text-3xl font-bold mb-4
}

.single-post h1 > span {
  @apply lg:text-5xl md:text-4xl text-3xl font-bold mb-4
}

.single-post p {
  @apply lg:text-xl md:text-lg text-base mb-4
}

.single-post p > span {
  @apply lg:text-xl md:text-lg text-base mb-4
}

.single-post h2,h3,h4,h5  {
  @apply lg:text-2xl md:text-xl text-lg font-bold mb-4
}

.single-post h2 span,h3 span,h4 span,h5 span  {
  @apply lg:text-2xl md:text-xl text-lg font-bold mb-4
}

.single-post ul {
  @apply ml-[20px] list-disc
}

.single-post ol {
  @apply ml-[20px] list-decimal
}
.single-post li {
  @apply lg:text-xl md:text-lg text-base mb-4
}

.single-post li > span {
  @apply lg:text-xl md:text-lg text-base mb-4
}

.single-post a {
  @apply lg:text-xl md:text-lg text-base mb-4 underline cursor-pointer text-red-500
}

.single-post a > span {
  @apply lg:text-xl md:text-lg text-base mb-4 cursor-pointer
}

.single-post img {
  @apply border border-red-500
}
